@using System.Web.Mvc.Ajax
@using PagedList
@using PagedList.Mvc
@model DiplomskiRadMostarsMosques_Web.Areas.Administrator.Models.MedzlisVM
@using DiplomskiRadMostarsMosques_Web.Areas.Administrator.Models;
@using DiplomskiRadMostarsMosques_Data.Models
@{
    ViewBag.Title = "Medžlisi";
}
<div class="container-fluid">

    <div class="col-lg-3 pull-left">
        <h4 style="margin:0;">Medžlisi</h4>
    </div>
    @using (Html.BeginForm("Pretraga", "Medzlisi"))
    {

        @Ajax.ActionLink("Dodaj medžlis", "Dodaj", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" }, new { @class = "btn btn-primary pull-right" })
        <div style="margin-right:10px;" class="input-group col-lg-3 pull-right">
            <input class="form-control pull-right" placeholder="Pretraži medžlis" name="tekst" />
            <span class="input-group-btn">
                <input value="Traži" type="submit" class="btn btn-info" />
            </span>
        </div><br />
    }
    <br /><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Opština
                </th>
                <th>
                    Kanton
                </th>
                <th>
                    Prevedeno
                </th>
                <th>
                    Akcija
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (MedzlisVM.MedzlisInfo m in Model.listMedzlis)
            {
                <tr>
                    <td>
                        @m.Naziv
                    </td>
                    <td>
                        @m.Opcina
                    </td>
                    <td>
                        @m.Kanton
                    </td>

                    <td>
                       @foreach (string a in m.Jezici) {
                           <p style="display:inline;">@a </p>
                       }
                    </td>

                    <td width="100">
                        @Ajax.ActionLink("Uredi", "Uredi", new { medzlisId = m.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" }, new { @class = "my-edit-btn pull-left", @title = "Uredi" })
                        <a href="~/Administrator/Medzlisi/Obrisi?medzlisId=@m.Id" onclick="return Submit(this.id)" title="Izbriši">
                            <img src="~/Template/images/delete-512.png" width="20" height="20" style="margin-left:5px" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model.listMedzlis, page => Url.Action("Index", new { page }))
    <div id="result" style="display:none;"></div>


</div>
    <script>
        var opt = {
            autoOpen: false,
            title: 'Mostars Mosques',
            width: 350,
            height: 'auto',
            modal: true
        };

        function openPopup() {
            $("#result").dialog(opt).dialog("open");
        }
    </script>
