@model DiplomskiRadMostarsMosques_Web.Areas.Administrator.Models.DogadjajEditVM
@using System.Web.Mvc.Ajax
@using DiplomskiRadMostarsMosques_Web.Helper
@using DiplomskiRadMostarsMosques_Data.Models
@{
    Jezik jezik = Global.GetJezik(Context);
    ViewBag.Title = "Uredi";
    Layout = null;
}
<div class="container-fluid card" >
    <div>
        <br />
        <h4 class="title">Događaji</h4>
        <br />
    </div>
@using (Ajax.BeginForm("Snimi", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" }, new { enctype = "multipart/form-data", @id="formId" }))
{
        @Html.HiddenFor(model => model.Id)
        <label>Naziv događaja</label><br />
        @Html.ValidationMessageFor(model => model.Naziv,"",new {@style="color:red;" })
        @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control", @placeholder = "Naziv", @style = "max-width:550px;" })
        <label>Opis događaja</label><br />
        @Html.ValidationMessageFor(model => model.Tekst, "", new { @style = "color:red;" })
        @Html.TextAreaFor(model => model.Tekst, new { @class = "form-control", @rows = "7", @placeholder = "Opis", @style = "max-width:550px;" })
        <label>Datum održavanja</label><br />
        @Html.ValidationMessageFor(model => model.DatumOdrzavanja, "", new { @style = "color:red;" })
        @Html.TextBoxFor(model => model.DatumOdrzavanja, "{0:dd.MM.yyyy}" , new { @class = "form-control", @id = "datepicker",@placeholder="12.12.2012",@style = "max-width:780px;" })

        <div style="margin:3px;" class="col-lg-11">
            @if (Model.slikeIds != null)
                {
                    foreach (int x in Model.slikeIds)
                    {
                    <div class="image_div">
                        @Ajax.ActionLink("Obriši", "ObrisiSliku", new { slikaId = x, dogadjajId = Model.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" }, new { @class = "my-x-btn",@title="Izbriši" })
                        <a href="#" title="">
                            <img style="margin-top:20px;" width="150" height="150" src="@Url.Action("Show", "Dogadjaji", new { id = x })" />
                        </a>
                    </div>
                }
            }
        </div><br />
        <label class="pull-left">Jezik</label><br />
        @Html.ValidationMessageFor(model => model.JezikId, "", new { @style = "color:red;" })
        @Html.DropDownListFor(model => model.JezikId, Model.JezikStavke, new { @class = "form-control", @style = "max-width:550px;" })

        <br />
        <label>Učitajte slike</label>
            <input type="file" multiple="multiple" accept=".jpg, .png" name="input_slika" id="input_slika"  />
        <br />
        <br />
        <input type="submit"  id="input_form" class="btn btn-info pull-right" value="Spremi" />
    }

</div>
<script>
    $(document).ready(function () {
        $("#input_slika").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("input_slika").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("input_slika").files[i];

                formData.append("input_slika", file);
            }
            $.ajax({
                type: "POST",
                url: '/Dogadjaji/Upload',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                },
                error: function (error) {
                }
            });
        });
    });
</script>
<script type="text/javascript">
    (function ($) {
            $("#datepicker").datepicker({ dateFormat: 'dd.mm.yy' });
        })(jQuery);
</script>


<script>
    $(document).ready(function () {
        var form = $('form#formId');
        $("#input_form").click(function () {
            $.ajax({
                type: "GET",
                url: '/Dogadjaji/CheckValid',
                data: form.serialize(),
                success: function (response) {
                    if (response == "True") {
                        setTimeout(location.reload.bind(location), 600);

                    } else {

                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    });
</script>