@model DiplomskiRadMostarsMosques_Web.Areas.Administrator.Models.OpstinaEditVM
@using System.Web.Mvc.Ajax
@{
    ViewBag.Title = "Uredi";
    Layout = null;
}
<div class="container-fluid card">
    <br />
    <h4 class="title">Opština</h4>
    <br />
    @using (Ajax.BeginForm("Snimi",null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" },new { @id="formId" } ))
    {
        @Html.HiddenFor(model => model.Id);
        <label>Naziv opštine</label><br />
        @Html.ValidationMessageFor(model => model.Naziv, "", new { @style = "color:red;" })
        @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control", @placeholder = "Naziv opštine" })

        <label>Kanton</label><br />
        @Html.ValidationMessageFor(model => model.KantonId, "", new { @style = "color:red;" })
        @Html.DropDownListFor(model => model.KantonId, Model.kantonStavke, new { @class = "form-control", @placeholder = "Naziv" })
        <br />
        <input type="submit" value="Spremi"  id="input_form"  class="btn btn-info pull-right" />
    }
</div>


<script>
    $(document).ready(function () {
        var form = $('form#formId');
        $("#input_form").click(function () {
            $.ajax({
                type: "GET",
                url: '/Opstine/CheckValid',
                data: form.serialize(),
                success: function (response) {
                    if (response == "True") {
                        setTimeout(location.reload.bind(location), 600);

                    } else {

                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    });
</script>