@model DiplomskiRadMostarsMosques_Web.Areas.Administrator.Models.DzematEditVM
@{
    ViewBag.Title = "Uredi";
    Layout = null;
}
<div class="container-fluid card">
    <br />
    <h4 class="title">Džemat</h4>
    <br />
    @using (Ajax.BeginForm("Snimi",null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" },new {@id="formId" }))
    {

        @Html.HiddenFor(model => model.Id)
        <label>Naziv džemata</label><br />
        @Html.ValidationMessageFor(model => model.Naziv, "", new { @style = "color:red;" })
        @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control", placeholder = "Naziv džemata" })
        <label>Medžlis</label><br />
        @Html.ValidationMessageFor(model => model.medzlisId, "", new { @style = "color:red;" })
        @Html.DropDownListFor(model => model.medzlisId, Model.medzlisiStavke, new { @class = "form-control" })
        <br />
        <input type="submit" value="Spremi"  id="input_form"  class="btn btn-info pull-right" />
    }
</div>
<script>
    $(document).ready(function () {
        var form = $('form#formId');
        $("#input_form").click(function () {
            $.ajax({
                type: "GET",
                url: '/Opstine/CheckValid',
                data: form.serialize(),
                success: function (response) {
                    if (response == "True") {
                        setTimeout(location.reload.bind(location), 600);

                    } else {

                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    });
</script>